/* line 1 */
body {
  font-family: Helvetica, Verdana;
}

/* line 5 */
.container {
  margin-top: 50px;
}

/* line 7 */
p {
  text-indent: 0px;
  padding-bottom: 15px;
}

/* line 10 */
p + p {
  text-indent: 0;
}

/* line 13 */
.content {
  height: auto;
  margin-top: 0px;
  margin-left: 40px;
  padding: 15px;
}
/* line 19 */
.content h1.name {
  margin-bottom: 10px;
}
/* line 22 */
.content div.details {
  display: inline-block;
  margin-bottom: 20px;
}
/* line 25 */
.content div.details span {
  display: inline-block;
  float: left;
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid #888888;
}
/* line 31 */
.content div.details span.last {
  border-right: none;
}
/* line 34 */
.content div.section {
  margin-top: 30px;
}
/* line 36 */
.content div.section div.name {
  font-weight: normal;
}
/* line 38 */
.content div.section div.metadata {
  font-weight: bold;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
/* line 42 */
.content div.section div.metadata span.where {
  text-align: left;
}
/* line 44 */
.content div.section div.metadata span.location {
  text-align: right;
}
/* line 47 */
.content div.section div.deets ul {
  margin-left: 15px;
  padding: 0;
}
