---
layout: default
---

<div class="flex-div">
  <div class="post detailed flex-left">
    {% if page.url == "/" %}
    <div class="featured-articles-container">
      <h1>⚡ Featured Articles</h1>

      <div>
        {% assign j = 0 %}
        {% for article in site.top_articles %}
          {% if j == 0 or j == 3 %}
          <div class="row">
          {% endif %}
            <a href="{{article.url}}" class="top-articles-link" style="display: block;width: 100%; height:100%;">
              <article class="column">
                {{article.title}}
              </article>
            </a>
          {% if j == 2 or j == 5 %}
          </div>
          {% endif %}
          {% assign j = j | plus:1 %}
        {% endfor %}
      </div>
    </div>

    <div class="additional-links">
      <ul class="grid item-list compact quick-links">
        <li>
          <a href="/feed">
            <span>Subscribe via RSS</span>
          </a>
        </li>
        <li>
          <a href="/categories">
            <span>Browse by category</span>
          </a>
        </li>
        <li>
          <a href="/contact">
            <span>Get in touch</span>
          </a>
        </li>
        <li>
          <a href="https://github.com/amitmerchant1990/ama" target="_blank">
            <span>Ask me anything!</span>
          </a>
        </li>
      </ul>
    </div>
    {% endif %}

    <div class="posts">
      {% assign i = 0 %}
      {% for post in paginator.posts %}
        {% if forloop.index == 5 %}
          <!-- Adspace: an advertisement can be added here. -->
          <article class="post">

            <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

            <div>
              <p class="post_date">{{ post.date | date: "%B %e, %Y" }}</p>
            </div>

            <div class="entry">
              {{ post.excerpt }}
            </div>

            <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">» Read More</a>
          </article>
        {% else %}
          <article class="post">

            <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

            <div>
              <p class="post_date">{{ post.date | date: "%B %e, %Y" }}</p>
            </div>

            <div class="entry">
              {{ post.excerpt }}
            </div>

            <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">» Read More</a>
          </article>
        {% endif %}
        {% assign i = i | plus:1 %}
      {% endfor %}
      
      <!-- pagination -->
      {% if paginator.total_pages > 1 %}
      <div class="pagination">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
        {% else %}
          <span>&laquo; Prev</span>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
          {% if page == paginator.page %}
            <span class="webjeda">{{ page }}</span>
          {% elsif page == 1 %}
            <a href="/">{{ page }}</a>
          {% else %}
            <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
          {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
        {% else %}
          <span>Next &raquo;</span>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>
  <div class="flex-right">
    {% include sidebar.html %}
  </div>

  <!-- Levitating next/previous page links -->
  {% if paginator.previous_page %}
    <a class="pagination-side next" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><b>Previous page</b></a>
  {% endif %}
  
  {% if paginator.next_page %}
    <a class="pagination-side previous" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><b>Next page</b></a>
  {% endif %}
</div>
