<div class="affiliates-container">
    <blockquote class="affiliates">
        <p>
            2020 is more than a year. Learning 20 minutes a day for 20 days pays off.
            <a target="_blank" href="https://click.linksynergy.com/fs-bin/click?id=cAEFrzmm7JQ&offerid=507388.11691&type=3&subid=0">
                Udemy online courses start at $9.99.
            </a>
            <img border="0" width="1" alt="" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=cAEFrzmm7JQ&bids=507388.11691&type=3&subid=0" >
        </p>
    </blockquote>
    <p class="notice">This is an affiliate link. Making a purchase from it helps run this blog.</p>
</div>
