<div class="custom-block" style="min-height: 125px;">
  <a href="/contact" target="_blank" rel="noopener">
    <img src="/images/ad-slot.png" alt="">
  </a>
</div>

<form class="tinyletterForm" action="https://tinyletter.com/amitmerchant" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/amitmerchant', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
  <h3>Newsletter</h3>
  <p><label for="tlemail" class="tlelabel">Get the latest articles delivered right to your inbox <br>(No spam. Guaranteed.)</label></p>
  <p><input type="text" name="email" id="tlemail" class="tlemail" placeholder="Email address" /></p>
  <input type="hidden" value="1" name="embed"/>
  <input type="submit" value="Subscribe" class="subscribeBtn" />
</form>

{% include social_icons.html %}

{% if page.url != "/" %}
  {% if page.id %}
    {% include related_articles.html %}
  {% endif %}

  {% include recent_articles.html %}
{% endif %}

{% if page.url != "/" and page.url != "/categories/" %}
  {% include sidebar-categories.html %}
{% endif %}

<div class="ads-container">
  <!--<div style="text-align: center;">
    <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CE7D6KJY&placement=wwwamitmerchantcom" id="_carbonads_js"></script>
  </div>-->

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- amitmerchant-horizontal -->
  <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-2699562972292476"
      data-ad-slot="3309126835"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
