{% if site.show_devdojo_ad %}
<div class="custom-block">
  <a href="http://devdojo.com/tails?ad=amitmerchant" target="_blank" rel="noopener">
    <img src="/images/devdojo-tails.jpg" alt="Devdojo Tails">
  </a>
</div>
{% endif %}

{% if site.show_luumy_ad %}
<div class="custom-block">
  <a href="https://www.luumy.io/#features" target="_blank" rel="noopener">
    <img src="/images/luumy_banner_300X250.jpg" alt="Luumy">
  </a>
</div>
{% endif %}

{% if site.show_ad_banner %}
<div class="custom-ad-block">
  <a href="/contact" target="_blank" rel="noopener">
    <div class="column">
      <div class="heading">
        Want to book an Ad slot here?
      </div>
      <div class="sub-heading">
        Sweet... let's talk then!
      </div>
    </div>
  </a>
</div>
{% endif %}

<form class="tinyletterForm" action="https://www.getrevue.co/profile/amit_merchant/add_subscriber" method="post" target="_blank">
  <h3>Newsletter</h3>
  <p><label for="tlemail" class="tlelabel">Get the latest articles delivered right to your inbox <br>(No spam. Guaranteed.)</label></p>
  <p><input type="email" name="member[email]" id="tlemail" class="tlemail" placeholder="Email address" required/></p>
  <input type="submit" value="Subscribe" name="member[subscribe]" class="subscribeBtn" />
  <div class="revue-form-footer">
    By subscribing, you agree with Revue’s <a target="_blank" href="https://www.getrevue.co/terms">Terms of Service</a> and <a target="_blank" href="https://www.getrevue.co/privacy">Privacy Policy</a>.
  </div>
</form>
</form>

{% include social_icons.html %}

{% if page.url != "/" %}
  {% if page.id %}
    {% include related_articles.html %}
  {% endif %}

  {% include recent_articles.html %}
{% endif %}

{% if page.url != "/" and page.url != "/categories/" %}
  {% include sidebar-categories.html %}
{% endif %}

<div class="ads-container">
  <!-- <div style="text-align: center;">
    <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CE7D6KJY&placement=wwwamitmerchantcom" id="_carbonads_js"></script>
  </div> -->

  <div style="width:100%;margin-bottom:10px;">
    <script src="https://cdn.purpleads.io/agent.js?publisherId=64142505c8b4468270e9964dad85c5ad:2b6bd5dc75656a3bad97769cdef3e490454c4df20552493b3329530fee06af043aa5baeeacb909105665b28f1dc9b05ec65444db74788ffbe79d85847c8c8718" data-pa-tag async></script>
    
    <!-- <div id="890220476" class="medianet">
      <script type="text/javascript">
        try {
            window._mNHandle.queue.push(function (){
                window._mNDetails.loadTag("890220476", "300x250", "890220476");
            });
        }
        catch (error) {}
      </script>
    </div> -->
  </div>

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- amitmerchant-horizontal -->
  <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-2699562972292476"
      data-ad-slot="3309126835"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
