<form class="tinyletterForm" action="https://tinyletter.com/amitmerchant" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/amitmerchant', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
  <h3>Newsletter</h3>
  <p><label for="tlemail" class="tlelabel">Get the latest articles delivered right to your inbox <br>(I swear I won't spam)</label></p>
  <p><input type="text" name="email" id="tlemail" class="tlemail" placeholder="Email address" /></p>
  <input type="hidden" value="1" name="embed"/>
  <input type="submit" value="Subscribe" class="subscribeBtn" />
</form>

{% include social_icons.html %}

{% if page.url != "/" %}
  {% if page.id %}
    {% include related_articles.html %}
  {% endif %}

  {% include recent_articles.html %}
{% endif %}

<div class="ads-container">
  <!--<div style="text-align: center;">
    <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CE7D6KJY&placement=wwwamitmerchantcom" id="_carbonads_js"></script>
  </div>-->
  
  <!--<div id="codefund"></div>
  <script src="https://codefund.io/properties/65/funder.js" async="async"></script>-->

  <div id="890220476" class="medianet">
      <script type="text/javascript">
          try {
              window._mNHandle.queue.push(function (){
                  window._mNDetails.loadTag("890220476", "300x250", "890220476");
              });
          }
          catch (error) {}
      </script>
  </div>

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- amitmerchant-horizontal -->
  <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-2699562972292476"
      data-ad-slot="3309126835"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
