
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$darkPurple: #673AB7;
$purple: #5f40f6;
$gunpowder: #3c3a57;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$mediumDarkGray: #525252;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$defaultFonts: -system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 728px) {
    @content;
  }
}
