<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% seo title=false %}
    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    {% if page.fluidbox %}
    <link rel="stylesheet" href="/css/fluidbox.min.css" />
    {% endif %}
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    <link rel="search" type="application/opensearchdescription+xml" href="https://www.amitmerchant.com/opensearch.xml" title="Search AmitMerchant.com" />

    <meta name="theme-color" content="#673AAC">
    <script type="text/javascript">
      var host = "www.amitmerchant.com";
      if ((host == window.location.host) && (window.location.protocol != "https:"))
          window.location.protocol = "https";
    </script>
    <script type="text/javascript">
        window._mNHandle = window._mNHandle || {};
        window._mNHandle.queue = window._mNHandle.queue || [];
        medianet_versionId = "3121199";
    </script>
    <script src="//contextual.media.net/dmedianet.js?cid=8CU92T8V9" async="async"></script>
  </head>

  <body>
    <canvas id="confetti-holder"></canvas>
    <div id="bar"></div>
    <div class="wrapper-container">
      <div class="wrapper-masthead">
        <div class="container">
          <header class="masthead clearfix">
            <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" alt="{{ site.name }}" /></a>
            <div class="site-info">
              <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
              <p class="site-description">{{ site.description }} 
                <a href="/how-to-subscribe-to-my-blog/" class="btn-subscribe" title="Three ways to subscribe to this blog!">
                  <svg viewBox="0 0 800 800"><path d="M493 652H392c0-134-111-244-244-244V307c189 0 345 156 345 345zm71 0c0-228-188-416-416-416V132c285 0 520 235 520 520z"></path><circle cx="219" cy="581" r="71"></circle></svg>
                </a>
                <a href="https://www.youtube.com/c/AmitMerchant" target="_blank" title="YouTube Channel" class="btn-subscribe">
                  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                    <g>
                      <path style="fill:#F44336;" d="M490.24,113.92c-13.888-24.704-28.96-29.248-59.648-30.976C399.936,80.864,322.848,80,256.064,80
                        c-66.912,0-144.032,0.864-174.656,2.912c-30.624,1.76-45.728,6.272-59.744,31.008C7.36,138.592,0,181.088,0,255.904
                        C0,255.968,0,256,0,256c0,0.064,0,0.096,0,0.096v0.064c0,74.496,7.36,117.312,21.664,141.728
                        c14.016,24.704,29.088,29.184,59.712,31.264C112.032,430.944,189.152,432,256.064,432c66.784,0,143.872-1.056,174.56-2.816
                        c30.688-2.08,45.76-6.56,59.648-31.264C504.704,373.504,512,330.688,512,256.192c0,0,0-0.096,0-0.16c0,0,0-0.064,0-0.096
                        C512,181.088,504.704,138.592,490.24,113.92z"/>
                      <polygon style="fill:#FAFAFA;" points="192,352 192,160 352,256 	"/>
                      </g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                      <g></g><g></g><g></g><g></g><g></g><g></g><g>
                    </g>
                  </svg>
                </a>
              </p> 
            </div>
            <nav>
              <a href="{{ site.baseurl }}/">Articles</a>
              <a href="{{ site.baseurl }}/projects">Projects</a>
              <a href="{{ site.baseurl }}/uses">Uses</a>
              <a href="{{ site.baseurl }}/art">Art</a>
              <a href="{{ site.baseurl }}/about">About</a>
              <a href="{{ site.baseurl }}/search" title="Or press &quot;/&quot; to search">
                <img src="/images/icons/magnifier.svg" alt="" class="magnifier">     
              </a>
            </nav>
          </header>
          <header class="masthead-menu clearfix">
            <nav class="nav-menu">
              <a href="{{ site.baseurl }}/posts/laravel/">Laravel</a>
              <a href="{{ site.baseurl }}/posts/php/">PHP</a>
              <a href="{{ site.baseurl }}/posts/javascript/">JavaScript</a>
              <a href="{{ site.baseurl }}/posts/git/">Git</a>
              <a href="{{ site.baseurl }}/posts/miscellaneous/">Misc.</a>
            </nav>
          </header>
        </div>
      </div>

      <div class="wrapper-main">
        <div id="main" role="main" class="container">
          {{ content }}
        </div>
      </div>

      <div class="wrapper-footer">
        <div class="container">
          <footer class="footer">
            {% include svg-icons.html %}
          </footer>
        </div>
        <div class="footer-link-outer">
          <div class="footer-link-container">
            <nav class="nav-menu">
              <span>© 2020 Amit Merchant</span>
              <a href="{{ site.baseurl }}/about/">About</a>
              <a href="{{ site.baseurl }}/contact/">Contact</a>
              <a href="{{ site.baseurl }}/categories/">Categories</a>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/js/confetti.min.js" async></script>
    <script type="text/javascript" src="/js/konami.js" async></script> 
    
    {% if page.fluidbox %}
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.ba-throttle-debounce.min.js"></script>
    <script type="text/javascript" src="/js/jquery.fluidbox.min.js"></script>
    <script>
    $(function () {
        $('.post a, .page a, .row-masonry a').fluidbox();
    });
    </script>
    {% endif %}

    <script>
    window.addEventListener('keypress', function (e) {
      // Navigates to search 
      // page on pressing "/"
      if (e.keyCode === 47) {
        window.location.href = '/search';
      }
    }, false);
    </script>
    
    {% include analytics.html %}
  </body>
</html>
