<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% seo title=false %}
    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    {% if page.fluidbox %}
    <link rel="stylesheet" href="/css/fluidbox.min.css" />
    {% endif %}
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    <link rel="search" type="application/opensearchdescription+xml" href="https://www.amitmerchant.com/opensearch.xml" title="Search AmitMerchant.com" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">

    <meta name="theme-color" content="#673AAC">
    <meta name="purpleads-verification" content="62df6dbecf69ca495535d19e">
    <script type="text/javascript">
      var host = "www.amitmerchant.com";
      if ((host == window.location.host) && (window.location.protocol != "https:"))
          window.location.protocol = "https";
    </script>
    <script type="text/javascript">
        window._mNHandle = window._mNHandle || {};
        window._mNHandle.queue = window._mNHandle.queue || [];
        medianet_versionId = "3121199";
    </script>
    <script src="//contextual.media.net/dmedianet.js?cid=8CU92T8V9" async="async"></script>
  </head>

  <body>
    <canvas id="confetti-holder"></canvas>
    <div id="bar"></div>
    <div class="wrapper-container">
      <div class="wrapper-masthead">
        <div class="container">
          <header class="masthead clearfix header">
            <input class="menu-btn" type="checkbox" id="menu-btn" />
            <label class="menu-icon" for="menu-btn">
              <span class="navicon"></span>
            </label>
            <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" alt="{{ site.name }}" /></a>
            <div class="site-info">
              <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
              <p class="site-description">
                {{ site.description }}
              </p> 
            </div>
            <ul class="menu">
              <li><a href="{{ site.baseurl }}/">Articles</a></li>
              <li><a href="{{ site.baseurl }}/projects">Projects</a></li>
              <li><a href="{{ site.baseurl }}/uses">Uses</a></li>
              <li><a href="{{ site.baseurl }}/art">Art</a></li>
              <li><a href="{{ site.baseurl }}/about">About</a></li>
              <li>
                <a href="{{ site.baseurl }}/keyboard-shortcuts" title="Keyborad Shortcuts">
                  <kbd>Ctrl K</kbd>
                </a>
              </li>
              <li>
                <a href="{{ site.baseurl }}/search" title="Or press &quot;/&quot; to search">
                  <img src="/images/icons/search.svg" alt="" class="magnifier">
                  <span class="search-icon-text">Search</span>
                </a>
              </li>
            </ul>
          </header>
          <header class="masthead-menu clearfix">
            <nav class="nav-menu">
              <a href="{{ site.baseurl }}/posts/laravel/">Laravel</a>
              <a href="{{ site.baseurl }}/posts/php/">PHP</a>
              <a href="{{ site.baseurl }}/posts/javascript/">JavaScript</a>
              <a href="{{ site.baseurl }}/posts/git/">Git</a>
              <a href="{{ site.baseurl }}/posts/react/">React.js</a>
            </nav>
          </header>
        </div>
      </div>

      <div class="wrapper-main">
        <div id="main" role="main" class="container">
          {{ content }}
        </div>
      </div>

      <div class="wrapper-footer">
        <div class="container">
          <footer class="footer">
            {% include svg-icons.html %}
          </footer>
        </div>
        <div class="footer-link-outer">
          <div class="footer-link-container">
            <nav class="nav-menu">
              <a href="{{ site.baseurl }}/about/">About</a>
              <a href="{{ site.baseurl }}/contact/">Contact</a>
              <a href="{{ site.baseurl }}/categories/">Categories</a>
              <a href="{{ site.baseurl }}/guest-book/">Guestbook</a>
            </nav>
            <nav class="nav-menu copy-text">
              <span>Copyright © 2021 — Amit Merchant</span>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/js/confetti.min.js" async></script>
    <script type="text/javascript" src="/js/konami.js" async></script>
    <script type="text/javascript" src="/js/app.js" async></script> 
    
    {% if page.fluidbox %}
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.ba-throttle-debounce.min.js"></script>
    <script type="text/javascript" src="/js/jquery.fluidbox.min.js"></script>
    <script>
    $(function () {
        $('.post a, .page a, .row-masonry a').fluidbox();
    });
    </script>
    {% endif %}
    <!-- <script src="https://cdn.purpleads.io/load.js?publisherId=b72b54e2f48e07a22d3370ef8993e629:6117f14bdc4cf05ee1e3c8aac50038d71dfd7f01d7c4fe4c0a94f0c616a84cc14b66922c468f679fd422e76c62354f4112dd0e632d6c1173d6e7443ad9350578" id="purpleads-client" async></script> -->
    
    {% include analytics.html %}
  </body>
</html>
