---
layout: default
---

<article class="post detailed">
  <h1>{{ page.title }}</h1>

  <div>
    <p class="author_title">{{site.author}}  ·  {{ page.date | date: "%B %e, %Y" }}</p>
    {% if page.last_modified_at %}
    <p class="author_title" datetime="{{ page.last_modified_at | date_to_xmlschema }}">(Updated: {{ page.last_modified_at | date: "%b %-d, %Y" }})</p>
    {% endif %}
    <div class="post-tags">
      {% if post %}
        {% assign categories = post.categories %}
      {% else %}
        {% assign categories = page.categories %}
      {% endif %}
      {% for category in categories %}
        <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
        {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </div>
  </div>

  <!--<script src="https://codefund.io/scripts/119fb9ab-156c-4585-adb9-7f2882b2eb47/embed.js" async></script>
  <div id="codefund_ad"></div>-->
  
  <div style="text-align: center;">
  <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CK7DK2QJ&placement=notepadjsorg" id="_carbonads_js"></script>
  </div>
    
  <div class="entry">
    {{ content }}
  </div>

  <div>
    <p><span class="share-box">Share:</span> <a href="http://twitter.com/share?text={{ page.title }}&url={{site.url}}{{page.url}}" target="_blank">Twitter</a>, <a href="https://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}" target="_blank">Facebook</a></p>
  </div>

  <!--<div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>-->
  
  <form class="tinyletterForm" action="https://tinyletter.com/amitmerchant" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/amitmerchant', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
    <h3>Newsletter</h3>
    <p><label for="tlemail">Subscribe to get up-to-date with current webdev trends, tutorials, and more.</label></p>
    <p><input type="text" name="email" id="tlemail" class="tlemail" placeholder="Enter your email address" /></p>
    <input type="hidden" value="1" name="embed"/>
    <input type="submit" value="Subscribe" class="subscribeBtn" />
  </form>

  {% include disqus.html %}
</article>
