---
layout: default
---

<div class="flex-div">
  <article class="post detailed flex-left">
    <h1 class="post-title">{{ page.title }}</h1>

    <div>
      <p class="author_title">
        <a href="https://www.twitter.com/{{ site.footer-links.twitter }}">{{site.author}}</a>  ·  {{ page.date | date: "%B %e, %Y" }} · 
        <span class="post-tags">
          {% if post %}
            {% assign categories = post.categories %}
          {% else %}
            {% assign categories = page.categories %}
          {% endif %}
          {% for category in categories %}
            <a href="{{site.baseurl}}/categories/#{{category|slugize}}">⋆ {{category}}</a>
            {% unless forloop.last %}&nbsp;{% endunless %}
          {% endfor %}
        </span>
      </p>
      {% if page.last_modified_at %}
      <p class="author_title" datetime="{{ page.last_modified_at | date_to_xmlschema }}">(Updated: {{ page.last_modified_at | date: "%b %-d, %Y" }})</p>
      {% endif %}
    </div>
    
    <div id="custom-inline"></div>
    <div class="divider">⸟</div>
      
    <div class="entry drop-cap">
      {{ content }}
    </div>
    
    {% if page.previous.url %}
      <a class="pagination-side previous" href="{{page.previous.url}}"><b>Previous:</b> {{page.previous.title}}</a>
    {% endif %}
    
    {% if page.next.url %}
      <a class="pagination-side next" href="{{page.next.url}}"><b>Next:</b> {{page.next.title}}</a>
    {% endif %}

    <div>
      <p>
        <span class="share-box">» Share:</span> 
        <a href="http://twitter.com/share?text={{ page.title }}&url={{site.url}}{{page.url}}" target="_blank">Twitter</a>, 
        <a href="https://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}" target="_blank">Facebook</a>,
        <a href="https://news.ycombinator.com/submitlink?u={{site.url}}{{page.url}}&t={{ page.title }}" target="_blank">Hacker News</a>
      </p>
    </div>

    <div class="donation-container">
      <div class="donation-box" style="display: flex;">
        <div class="donation-logo">
            <img src="/images/logo.png">
        </div>
        <div class="donation-content">
          <p>
              Hi there! I'm Amit. I write articles about all things web development. If you like what I write and want me to continue doing the same, I would like you buy me some coffees. I'd highly appreciate that. Cheers!
          </p>
          <div class="kofi-btn-container">
              <a title="Support me via Paypal" class="kofi-button" href="https://paypal.me/AmitMerchant" target="_blank"> 
                <span class="kofitext">
                  <img src="/images/icons8-cafe-35.png" class="kofiimg">
                  Buy me a coffee
                </span>
              </a>
          </div>  
        </div>
      </div>
    </div>

    <!--<div class="date">
      Written on {{ page.date | date: "%B %e, %Y" }}
    </div>-->
  </article>
  <div class="flex-right">
    {% include sidebar.html %}
  </div>
</div>
<div class="flex-div">
    <div class="post detailed flex-left">
      {% include disqus.html %}
    </div>
</div>
