---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div>
    <p class="author_title">Amit Merchant  ·  {{ page.date | date: "%B %e, %Y" }}</p>
  </div>

  <!--<script src="https://codefund.io/scripts/119fb9ab-156c-4585-adb9-7f2882b2eb47/embed.js" async></script>
  <div id="codefund_ad"></div>-->
  
  <!--<div style="text-align: center;">
  <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CK7DK2QJ&placement=notepadjsorg" id="_carbonads_js"></script>
  </div>-->
    
  <div class="entry">
    {{ content }}
  </div>

  <!--<div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>-->
  
  <form class="tinyletterForm" action="https://tinyletter.com/amitmerchant" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/amitmerchant', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
    <h3>Subscribe to get up-to-date with current webdev trends</h3>
    <p><label for="tlemail">Enter your email address</label></p>
    <p><input type="text" name="email" id="tlemail" class="tlemail" /></p>
    <input type="hidden" value="1" name="embed"/>
    <input type="submit" value="Subscribe" class="subscribeBtn" />
  </form>

  {% include disqus.html %}
</article>
